@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (max-width: 780px) {
    #container {
        flex-wrap: wrap;
    }

    img {
        margin-left: auto;
        margin-right: auto;

        min-width: 280px;
        min-height: 230px;
    }
}

@media (max-width: 380px) {

    #header {
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    #h1{
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 71px;
        letter-spacing: -0.035em;

        padding-bottom: 10px;

        width: 100%;
    }

    #content {
        padding-left: 2%;
        padding-right: 2%;
    }

    #h2 {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;

        width: 100%;
    }
}



/* Base */

body {
    font-family: 'Inconsolata', sans-serif;
}

header {
    padding: 40px 30px 10% 70px;
}

#logo {
    font-family: Inconsolata;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-align: left;

}

img {
    max-width: 550px;
    max-height: 450px;

}

#container {
    display: flex;
    padding: 2% 2% 2% 2%;
}

.content {
    padding-left: 10%;
    padding-right: 2%;
}

h1 {
    font-family: 'Space Mono' ,sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: -0.035em;
    text-align: left;

    color: #333333;

    padding-bottom: 50px;
}

h2 {
    font-family: 'Space Mono';
    font-style: light;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;

    color: #4F4F4F;

    padding-bottom: 50px;
    
    width: 58%;
}

button {
    background: #333333;

    width: 216px;
    height: 68px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;

color: #FFFFFF;
}
